/*
PALETA DE COLORES

Rojo principal    #ce1131
Rojo contornos    #80091d
Rojo contenedor   #bd0f34

*/

/*
TIPOGRAFIA UTILIZADA

font-family: 'Sarabun', sans-serif;

ExtraLight  200
Light       300
Regular     400
Medium      500
ExtraBold   800
*/

body {
    background-image: url(img/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Sarabun', sans-serif;
}

.col-lg-6 {
    background-color: #ce1131;
    padding: 30px;
    border: 10px solid #80091d;
    border-radius: 25px;
}

.linea {
    height: 1px;
    width: 100%;
    background-color: #80091d;
}

input {
    border-radius: 50px !important;
    background-color: #80091d !important;
    color: #ffffff !important;
    border-color: #80091d !important;
}

label {
    font-size: 20px;
    color: #ffffff;
}

.box-pokemon {
    background-color: #dedede;
    border: 5px solid #696971;
    border-radius: 10px;
    text-align: center;
}

.box-2-pokemon {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #696971;
}

#pokeImg {
    border-radius: 100%;
}

#pokemon-name {
    font-weight: 800;
    font-size: 15px;
}

.btn-primary {
    background-color: #3569bb !important;
    border-radius: 50px !important;
}

.estadisticas{
    background-color: #032d29;
    border-radius: 12px;
}

.desc-datos{
    color: #def12e;
    font-weight: 800;
}

.linea-2,
.linea-3 {
    height: 15px;
    width: 50px;
    border-radius: 50px;
}

.linea-2 {
    background-color: #50bb35;
}

.linea-3 {
    background-color: #3573bb;
}

#circle-1 {
    width: 50px;
    animation: twinkle 0.9s infinite alternate;
    border-radius: 100%;
}

#circle-2{
    width: 20px;
    animation: twinkle-2 0.9s infinite alternate;
    border-radius: 100%;
}

#circle-3{
    width: 20px;
    animation: twinkle-3 0.9s infinite alternate;
    border-radius: 100%;
}

#circle-5{
    width:35px;
    border-radius: 100%;
}

@keyframes twinkle {
    0% {
        opacity: 1;
        box-shadow: 0px 0px 15px rgb(93, 182, 255);
    }

    100% {
        opacity: 0.7;
    }
}

@keyframes twinkle-2 {
    0% {
        opacity: 1;
        box-shadow: 0px 0px 15px rgb(255, 0, 0);
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes twinkle-3 {
    0% {
        opacity: 1;
        box-shadow: 0px 0px 15px rgb(251, 255, 0);
    }

    100% {
        opacity: 0.6;
    }
}

.seccion-pokemon{
    background-color: #bd0f34;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}